$primary-color: #1976d2;
$secondary-color: #fcfafa;
$background-light: #ffffff;
$background-dark: #121212;
$text-light: #ffffff;
$text-dark: #000000;
$text-secondary: #6b6b6b;
$border-radius: 10px;
$transition: 0.3s ease;
